@charset "UTF-8";

/*tablet*/

@media screen and (min-width: 768px) {
    div#bot{
        position: absolute;
        width: 100px;
        height: 40px;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 800%);
    }
    
    video{
        width: 500px;
        margin-left: 250px;  
        margin-top: 10px;
        border-radius: 10px;
        
    }
}

    /*PC*/

@media screen and (min-width: 1050px) {
    div#bot{
        position: absolute;
        width: 100px;
        height: 40px;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 800%);
    }
   
    video{
        width: 500px;
        margin-left: 440px;  
        margin-top: 10px;
        border-radius: 10px;
        
    }
}